 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD in Bioinformatics</h4>
    <h5 class="meta">PSL</h5>
    <div class="time">2014 - 2017</div>
</div>
<div class="item">
    <h4 class="degree">MSc in Artificial Intelligence</h4>
    <h5 class="meta">Universitat Politècnica de Catalunya</h5>
    <div class="time">2011 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Mathematics</h4>
    <h5 class="meta">Universitat Autònoma de Barcelona</h5>
    <div class="time">2007 - 2011</div>
</div><!--//item-->
</div><!--//education-container-->
