<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Marie Curie ITN Phd Student</h3>
                            <div class="time">2014 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Armines</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Student with a grant from the Marie Curie Initial Training Network: Machine Learning for Personalized Medicine. The Phd. Project has been developed at the  Ecole des Mines-ParisTech. The project aims to developed Machine Learning methods for assessing the risk of suffering a drug side effect episode.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Max Plank Institut für Psychiatrie</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I worked on statistical studies on genomic data, and meta analysis of previous genomic studies on depressed patients.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Roche</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I worked on text mining models developing new strategies for gene name detection.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Python Developer</h3>
                            <div class="time">2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Infantium</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I was responsible of the development and design of data storage and algorithms for modeling and evaluate the cognitive development of children through the use  of educational games. Also design of a first rule-guided recommender system.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Master Student </h3>
                            <div class="time">2011-2013</div>
                        </div><!--//upper-row-->
                        <div class="company">IIIA-CSIC</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> I worked in the Machine Learning group of the IIIA-CSIC working on Probabilistic Graphical Models. The main project includes the development of a classification method for cancer proteomic data.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
