<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>This is a selected list of publications.</p>
                </div><!--//intro-->
                <div class="item">
                    <a href="http://leo.ugr.es/pgm2012/proceedings/eproceedings/bellon_gaussian.pdf">Bellón V, et al. <b>Gaussian Join Tree classifiers with applications to mass spectra classification. </b> The Sixth European Workshop on Probabilistic Graphical Models (2012), p. 19-26
                    </a>
                </div><!--//item-->
                <div class="item">
                    <a href="http://psb.stanford.edu/psb-online/proceedings/psb16/bellon.pdf">Bellón V, et al. <b>Multitask Feature Selection with Task Descriptors. </b> Pacific Symposium on Biocomputing (PSB) 2016.
                    </a>
                </div><!--//item-->
                <div class="item">
                    <a href="http://www.nature.com/articles/ncomms12460">SIEBERTS, Solveig K., et al. <b>Crowdsourced assessment of common genetic contribution to predicting anti-TNF treatment response in rheumatoid arthritis. </b> Nature Communications, 2016, vol. 7.
                    </a>
                </div><!--//item-->
            </section><!--//section-->
